In [1]:
import findspark

In [2]:
findspark.init('/home/samarth/spark/')

In [ ]:
from pyspark.sql import *
spark = SparkSession.builder.getOrCreate()
from pyspark.sql.functions import *

In [ ]:
df = spark.read.option("inferSchema",True).csv("hdfs://localhost:9000/CovidData", header=True)
df.show()

In [7]:
covid_data = df.select("date","new_cases","new_deaths","new_tests","people_vaccinated","people_fully_vaccinated")
covid_data.createOrReplaceTempView("view1")
covid_data.show()

+--------+---------+----------+---------+-----------------+-----------------------+
|    date|new_cases|new_deaths|new_tests|people_vaccinated|people_fully_vaccinated|
+--------+---------+----------+---------+-----------------+-----------------------+
|30/01/20|        1|      null|     null|             null|                   null|
|31/01/20|        0|      null|     null|             null|                   null|
|01/02/20|        0|      null|     null|             null|                   null|
|02/02/20|        1|      null|     null|             null|                   null|
|03/02/20|        1|      null|     null|             null|                   null|
|04/02/20|        0|      null|     null|             null|                   null|
|05/02/20|        0|      null|     null|             null|                   null|
|06/02/20|        0|      null|     null|             null|                   null|
|07/02/20|        0|      null|     null|             null|                   null|
|08/02/20|        0|      null|     null|             null|                   null|
|09/02/20|        0|      null|     null|             null|                   null|
|10/02/20|        0|      null|     null|             null|                   null|
|11/02/20|        0|      null|     null|             null|                   null|
|12/02/20|        0|      null|     null|             null|                   null|
|13/02/20|        0|      null|     null|             null|                   null|
|14/02/20|        0|      null|     null|             null|                   null|
|15/02/20|        0|      null|     null|             null|                   null|
|16/02/20|        0|      null|     null|             null|                   null|
|17/02/20|        0|      null|     null|             null|                   null|
|18/02/20|        0|      null|     null|             null|                   null|
+--------+---------+----------+---------+-----------------+-----------------------+
only showing top 20 rows

In [13]:
spark.sql("select date,new_cases from view1 where new_cases = 0").show()

+--------+---------+
|    date|new_cases|
+--------+---------+
|31/01/20|        0|
|01/02/20|        0|
|04/02/20|        0|
|05/02/20|        0|
|06/02/20|        0|
|07/02/20|        0|
|08/02/20|        0|
|09/02/20|        0|
|10/02/20|        0|
|11/02/20|        0|
|12/02/20|        0|
|13/02/20|        0|
|14/02/20|        0|
|15/02/20|        0|
|16/02/20|        0|
|17/02/20|        0|
|18/02/20|        0|
|19/02/20|        0|
|20/02/20|        0|
|21/02/20|        0|
+--------+---------+
only showing top 20 rows

In [14]:
spark.sql("select date,new_cases from view1 where new_cases >= 50").show()

+--------+---------+
|    date|new_cases|
+--------+---------+
|20/03/20|       50|
|21/03/20|       86|
|22/03/20|       66|
|23/03/20|      103|
|25/03/20|      121|
|26/03/20|       70|
|27/03/20|      160|
|28/03/20|      100|
|30/03/20|      227|
|31/03/20|      146|
|01/04/20|      601|
|02/04/20|      545|
|04/04/20|      515|
|05/04/20|      506|
|06/04/20|     1190|
|07/04/20|      533|
|08/04/20|      605|
|09/04/20|      809|
|10/04/20|      873|
|11/04/20|      848|
+--------+---------+
only showing top 20 rows

In [27]:
spark.sql("select date,new_cases from view1 where new_cases=(select MAX(new_cases) from view1)").show()

+--------+---------+
|    date|new_cases|
+--------+---------+
|16/09/20|    97894|
+--------+---------+

In [20]:
spark.sql("select SUM(new_cases) as total_cases from view1").show()

+-----------+
|total_cases|
+-----------+
|   11846652|
+-----------+

In [22]:
spark.sql("select date,new_cases,new_deaths from view1 where new_cases >= 100 and new_deaths >= 100").show()

+--------+---------+----------+
|    date|new_cases|new_deaths|
+--------+---------+----------+
|02/05/20|     2442|       100|
|04/05/20|     3932|       175|
|05/05/20|     2963|       127|
|07/05/20|     3364|       104|
|09/05/20|     3113|       116|
|10/05/20|     4353|       111|
|12/05/20|     3524|       121|
|13/05/20|     3763|       136|
|15/05/20|     3787|       104|
|16/05/20|     4864|       118|
|17/05/20|     5050|       154|
|18/05/20|     4630|       131|
|19/05/20|     6147|       146|
|20/05/20|     5553|       132|
|21/05/20|     6198|       150|
|22/05/20|     6568|       142|
|23/05/20|     6629|       142|
|24/05/20|     7113|       156|
|25/05/20|     6414|       148|
|26/05/20|     5843|       172|
+--------+---------+----------+
only showing top 20 rows

In [24]:
spark.sql("select SUM(new_deaths) as total_deaths from view1").show()

+------------+
|total_deaths|
+------------+
|      160949|
+------------+

In [28]:
spark.sql("select date,new_deaths from view1 where new_deaths=(select MAX(new_deaths) from view1)").show()

+--------+----------+
|    date|new_deaths|
+--------+----------+
|16/06/20|      2003|
+--------+----------+

In [39]:
pos_rate=spark.sql("select date,((new_cases)/(new_tests)*100) as positivity_rate from view1")
pos_rate.createOrReplaceTempView("positive_rate")

In [40]:
spark.sql("select date,positivity_rate from positive_rate where positivity_rate >= 0").show()

+--------+-------------------+
|    date|    positivity_rate|
+--------+-------------------+
|19/03/20| 19.895287958115183|
|20/03/20|  4.716981132075472|
|21/03/20|  6.490566037735849|
|22/03/20|  5.084745762711865|
|23/03/20| 2.7777777777777777|
|24/03/20|  23.56687898089172|
|25/03/20| 2.8271028037383177|
|03/04/20|0.11270780501549732|
|04/04/20|  4.810836057916861|
|05/04/20|  5.279632721202003|
|06/04/20| 10.317322698109937|
|07/04/20|  4.116783810921449|
|08/04/20|  4.351265822784811|
|09/04/20|  4.761344241068801|
|10/04/20|  5.316686967113276|
|11/04/20|  4.699623143427178|
|12/04/20|  4.635397581531697|
|13/04/20|   5.72319545079336|
|14/04/20|  3.782142726507919|
|15/04/20|  2.810879956911062|
+--------+-------------------+
only showing top 20 rows

In [41]:
spark.sql("select MEAN(positivity_rate) as average_positive_rate from positive_rate").show()

+---------------------+
|average_positive_rate|
+---------------------+
|    5.585317946404814|
+---------------------+

In [46]:
spark.sql("select date,positivity_rate from positive_rate where positivity_rate = (select MAX(positivity_rate) from positive_rate ) ").show()

+--------+-----------------+
|    date|  positivity_rate|
+--------+-----------------+
|24/03/20|23.56687898089172|
+--------+-----------------+

In [49]:
deathrate=spark.sql("select date,((new_deaths)/(new_cases)*100) as death_rate from view1")
deathrate.createOrReplaceTempView("death")

In [50]:
spark.sql("select date,death_rate from death where death_rate >=0").show()

+--------+------------------+
|    date|        death_rate|
+--------+------------------+
|11/03/20|16.666666666666664|
|12/03/20|               0.0|
|13/03/20| 11.11111111111111|
|14/03/20|               0.0|
|15/03/20|               0.0|
|16/03/20|               0.0|
|17/03/20|4.3478260869565215|
|18/03/20|               0.0|
|19/03/20| 2.631578947368421|
|20/03/20|               2.0|
|22/03/20| 4.545454545454546|
|23/03/20| 2.912621359223301|
|24/03/20|               0.0|
|25/03/20|1.6528925619834711|
|26/03/20|11.428571428571429|
|27/03/20|               0.0|
|28/03/20|               4.0|
|29/03/20| 8.108108108108109|
|30/03/20|2.2026431718061676|
|31/03/20| 2.054794520547945|
+--------+------------------+
only showing top 20 rows

In [54]:
spark.sql("select MEAN(death_rate) as Average_death_rate from death").show()

+------------------+
|Average_death_rate|
+------------------+
|1.8005521985084911|
+------------------+

In [55]:
spark.sql("select date,death_rate from death where death_rate = (select MAX(death_rate) from death)").show()

+--------+-----------------+
|    date|       death_rate|
+--------+-----------------+
|16/06/20|18.25223254966284|
+--------+-----------------+

In [57]:
spark.sql("select SUM(people_vaccinated) as first_dose_vaccination from view1").show()

+----------------------+
|first_dose_vaccination|
+----------------------+
|             910537195|
+----------------------+

In [58]:
spark.sql("select SUM(people_fully_vaccinated) as second_dose_vaccination from view1").show()

+-----------------------+
|second_dose_vaccination|
+-----------------------+
|              153359426|
+-----------------------+